<div class="row">
  <div class="col-sm-12">
    <img [src]="'assets/img/'+member.picUrl" [alt]={{member.name}} class="img-thumbnail rounded" height="250px"/>
  </div>
  <div class="text">
    <div class="col-sm-12">
      <h2>{{member.name}}</h2>
    </div>
    <div class="col-sm-12">
      <h3>{{member.position}}</h3>
    </div>
    <div class="col-sm-12 social-media">
      <a *ngFor="let icon of member.icons" [href]="icon.link">
        <fa-icon [icon]="['fab', icon.name]" alt={{icon.name}}></fa-icon>
      </a>
    </div>
  </div>
</div>
